@font-face {
    font-family: 'OneStoreMobileGothicPop';
    src: url('assets/fonts/OneStoreMobileGothicPop.ttf') format('truetype');
}

body {
    font-family: 'OneStoreMobileGothicPop', Arial, sans-serif;
    text-align: center;
    background: url("assets/background.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    position: relative;
    width: 800px;
    height: 450px;
    background: url("assets/game_screen.png") no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'OneStoreMobileGothicPop', Arial, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

